<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= t("menus.add_menu_title") %><%= link_to @store.name, store_path(@store)%></h1><br>

<%= form_for(@dish, :url => confirm_menu_path(@menu)) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class=""> 
    <%= label_tag "Dish Entries:" %><br>
    <%= text_area_tag "entries", @existing_categories, :size => "120x20" %>
  </div>
  <div class="action">
    <%= f.submit t("add_button") %>
  </div>
<% end %>

 