<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<span class="largefont1"><%= I18n.t(@title) %><%= @store_list.name %></span>
<%= link_to "(edit)", edit_store_list_path(@store_list) %><br/><br/>
  
<table id="store_list">
  <tr>
    <%= render 'store_list_reload' %>
    <td>
      <%= render 'store_lists/list_sidebar' %>
    </td>  
  </tr>
</table>


