<br>
<div class="field">
  <strong>Restaurant Name: </strong><%= @store.name %>&nbsp;
</div>
<div class="field">
  <%= f.label :visit_date, "Visit Date:" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.text_field :visit_date, :size => 10 %>
</div>
<div class="field">
  <%= f.label :tagline, "Tagline:" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.text_field :tagline, :size => 81 %>
</div>
<div class="visitreview"> 
  <%= f.label :review, "Full Review:" %>&nbsp;
  <%= f.text_area :review, :size => "60x8" %>
</div>
<div class="field">
  <%= f.label :dish_name, "Dish Name:" %>&nbsp;
  <%= f.text_field :dish_name, :size =>50 %>
  <%= f.hidden_field :dish_id %>
</div>
<div class="field">
  <%= f.link_to_add "Add Dish", :dish_reviews %>
</div>
<%= f.fields_for :dish_reviews do |builder| %>
  <%= render 'dish_review_fields', :f => builder %>
<% end %>
