<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %><%= link_to @store.name, store_path(@store)%></h1><br>

<%= form_for(@visit, :url => update_parameters_visit_path(@visit), :html => {:multipart => true}) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <table>
    <tr class="padded-row">
      <td> <%= f.label :visit_date, I18n.t('visits.visit_date_title') %> </td>
      <td> <%= f.text_field :visit_date, :size => 7 %> </td>
    </tr>
    <tr class="padded-row">
      <td> <%= f.label :guest_number, I18n.t('visits.guest_nb_title') %> </td>
      <td> <%= f.text_field :guest_number, :size => "1" %> </td>
    </tr>
    <tr class="padded-row">
      <td> <%= f.label :overall_rating, I18n.t('visits.overall_rating_title') %> </td>
      <td> <%= f.select :overall_rating, @rating_options, :include_blank => true, :size => 1 %> </td>
    </tr>
    <tr class="padded-row">
      <td> <%= f.label :service_rating, I18n.t('visits.service_rating_title') %> </td>
      <td> <%= f.select :service_rating, @rating_options, :include_blank => true, :size => 1 %> </td>
    </tr>
    <tr class="padded-row">
      <td> <%= f.label :speed_rating, I18n.t('visits.speed_rating_title') %> </td>
      <td> <%= f.select :speed_rating, @rating_options, :include_blank => true, :size => 1 %> </td>
    </tr>
    <tr class="padded-row">
      <td> <%= f.label :mood_rating, I18n.t('visits.mood_rating_title') %> </td>
      <td> <%= f.select :mood_rating, @rating_options, :include_blank => true, :size => 1 %> </td>
    </tr>
    <tr class="padded-row">
      <td> <%= f.label :value_rating, I18n.t('visits.value_rating_title') %> </td>
      <td> <%= f.select :value_rating, @rating_options, :include_blank => true, :size => 1 %> </td>
    </tr>
  </table>
  <table>  
    <tr> 
      <td> <%= f.label :tagline, I18n.t('visits.tagline_title') %> </td>
    </tr>    
    <tr>
      <td> <%= f.text_field :tagline, :size =>73 %> </td>
    </tr>
    <tr> 
      <td> <%= f.label :review, I18n.t('visits.review_title') %> </td>
    </tr>
    <tr> 
      <td> <%= f.text_area(:review, :size => "70x5", :escape => false) %> </td>
    </tr>
  </table>
  <% @visit.dish_reviews.each do |dr| %>
     <div id="visit-dish"
      </br>
      <b><%= dr.dish.name %>&nbsp;</b><%= dr.quantity %>&times;
      <b><%= label :dish_review, :rating, I18n.t('visits.dish_rating_title') %>&nbsp;</b> </td>
      <%= select "dish_review_"+Hid.enc(dr.id), :rating, @rating_options, :include_blank => true, :selected => dr.rating, :size => 1 %> </td>
      </br>
      <% dr.pictures.each do |pic| %>
        <% if pic.image? %>
          <%= image_tag(pic.image_url(:thumb), { :alt => 'image'}) %>
        <% end %>
      <% end %>
      <br/>
      <b>Pictures:&nbsp;</b> <%= file_field "dish_review_"+Hid.enc(dr.id), :image, :accept => 'image/jpeg', :multiple => true, :size => "1" %> 
      <br/>
      <br/>
      <div> 
        <b><%= label :dish_review, :tagline, I18n.t('visits.tagline_title') %></b>
        <%= text_field "dish_review_"+Hid.enc(dr.id), :tagline, :value => dr.tagline, :size =>73 %>
      </div>
    </div>  
    <br>
  <% end %>
  <div class="action">
    <%= f.submit I18n.t(@button) %>
    <%= f.submit I18n.t(@button2), :name => "change_dish[]" %>
    <%= link_to I18n.t(@button3), visit_path(@visit), :confirm => I18n.t('visits.delete_warning'), :method => :delete %>
  </div>   
<% end %>






