<% content_for :sidebar do %>
  <%= render 'visits/cart_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %><%= link_to @store.name, store_path(:id => @store.zid)%></h1><br>

<%= form_for(@visit, :url => visit_path(@visit.zid), :html => {:multipart => true}) do |f| %>
  <%= render 'item_selection_fields', :f => f %>  
<% end %>
