<% content_for :sidebar do %>
  <%= render 'visits/cart_sidebar' %>
<% end %>

<h1><%= t("visits.edit_title") %><%= link_to @store.name, store_path(@store)%></h1><br>

<%= form_for(@visit, :url => visit_path(@visit), :html => {:multipart => true}) do |f| %>
  <%= render 'item_selection_fields', :f => f %>  
<% end %>
