<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>
<p>
<%= paginate @visitslist %>
  <table class="listing">
    <tr>
      <th><%= sortable "date", "Date" %></th>
      <th><%= sortable "store_name", "Name" %></th>
      <th><%= sortable "", "Spend" %></th>
      <th><%= sortable "dish_nb", "# Items" %></th>
      <th><%= sortable "guest_number", "# Guests" %></th>
      <th><%= sortable "overall_rating", "Rating" %></th>
      <th><%= sortable "", "Visits to Store" %></th>
    </tr>
    <% for visit in @visitslist %>
      <tr>
        <td class="ca"><%= link_to visit["date"]!=Date.new(3000,1,1) ? visit["date"].strftime("%B %e, %Y") : "No date set", visit_path(visit[:visit_id]) %></td>
        <td class="la"><%= link_to visit["store_name"], store_path(visit[:store_id]) %></td>
        <td class="ra"><%= number_to_currency(0) %></td>
        <td class="ca"><%= visit["dish_nb"] %></td>
        <td class="ca"><%= visit["guest_number"] %></td>
        <td class="ca"><%= visit["overall_rating"] %></td>
        <td class="ca"><%= 1 %></td>
      </tr>
    <% end %>
  </table>
<%= paginate @visitslist %>

