<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %></h1>
<%= will_paginate %>
  <table class="pretty">
    <tr>
      <th><%= "Date" %></th>
      <th><%= "name" %></th>
      <th><%= "Spend" %></th>
      <th><%= "# Items" %></th>
      <th><%= "# Guests" %></th>
      <th><%= "Rating" %></th>
      <th><%= "Visits to Store" %></th>
    </tr>
    <% for visit in @visits %>
      <tr>
        <td><%= link_to visit["date"]!=Date.new(3000,1,1) ? visit["date"].strftime("%B %e, %Y") : "No date set", visit %></td>
        <td><%= link_to visit["store_name"], visit_path(visit["store_id"]) %></td>
        <td><%= number_to_currency(0) %></td>
        <td><%= visit["dish_nb"] %></td>
        <td><%= visit["guest_number"] %></td>
        <td><%= visit["overall_rating"] %></td>
        <td><%= 1 %></td>
      </tr>
    <% end %>
  </table>
<%= will_paginate %>

