<% content_for :sidebar do %>
  <%= render 'shared/main_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %></h1>

<%= form_for(@visit) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'fields', :f => f %>

  <%= f.fields_for :pictures do |builder| %>
  <p>
    <%= builder.label :genre, "Picture" %><br />
    <%= builder.text_field :genre %>
    <%= builder.file_field :image %> 
  </p>
  <% end %>

  <div class="actions">
    <%= f.submit I18n.t(@button) %>
  </div>  
<% end %>
