<% content_for :sidebar do %>
  <%= render 'visits/cart_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %><%= link_to @store.name, store_path(:id => @store.id)%></h1><br>

<%= nested_form_for @visit, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit I18n.t(@button) %>
  </div>  
  <%= render 'menu_tabs', :f => f %>  
<% end %>
