<% content_for :sidebar do %>
  <%= render 'visits/cart_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %><%= link_to @store.name, store_path(:id => @store.id)%></h1>

<%= form_for @visit, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :visit_date, "Visit Date:" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.text_field :visit_date, :size => 10, :value => Date.today.to_s %>
  </div>
  <div class="field">
    <%= label_tag 'dish_search_label', "Dish Name:" %>&nbsp;
    <%= text_field_tag 'dish_search_name', '', :size =>60 %>
    <%= hidden_field :dish, :id %>
  </div>
  <div class="action">
    <%= f.submit I18n.t(@button), :class => "buttonvalign smallbutton" %> 
    <%= link_to_function content_tag(:span, "Back"), "history.back()" %>
  </div>
  <%= render 'menu_tabs', :f => f %>  
<% end %>
