<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %><%= link_to @store.name, store_path(@store)%></h1><br>

<div>
  </br>
  <strong>City:</strong> <%= @city.name %>
  </br>
  <strong>Store:</strong> <%= @store.name %>
  </br>
  <strong><%=I18n.t('visits.visit_date_title')%>:</strong> <%= @visit.visit_date %>
  </br>
  <strong><%=I18n.t('visits.guest_nb_title')%>:</strong> <%= @visit.guest_number %>
  </br>
  <span id="visit-ratings">
    <table>
      <tr>
        <th></th>
        <th><%=I18n.t('visits.overall_rating_title')%></th>
        <th><%=I18n.t('visits.service_rating_title')%></th>
        <th><%=I18n.t('visits.speed_rating_title')%></th>
        <th><%=I18n.t('visits.mood_rating_title')%></th>
        <th><%=I18n.t('visits.value_rating_title')%></th>
      </tr>
      <tr>
        <td><b>Ratings</b></td>
        <td><%= render :partial => 'shared/star_rating', :locals => {:rating => @visit.overall_rating} %></td>
        <td><%= render :partial => 'shared/star_rating', :locals => {:rating => @visit.service_rating} %></td>
        <td><%= render :partial => 'shared/star_rating', :locals => {:rating => @visit.speed_rating} %></td>
        <td><%= render :partial => 'shared/star_rating', :locals => {:rating => @visit.mood_rating} %></td>
        <td><%= render :partial => 'shared/star_rating', :locals => {:rating => @visit.value_rating} %></td>
      </tr>
    </table>  
  </span>
  </br>
  <strong><%=I18n.t('visits.tagline_title')%>:</strong> <%= @visit.tagline %>
  </br>
  <strong><%=I18n.t('visits.review_title')%>:</strong> <%= simple_format(@visit.review).html_safe %>
  </br>
  <% @visit.dish_reviews.each do |dr| %>
    <div id="visit-dish">
      </br>
      <strong><%=I18n.t('visits.dish_name_title')%>: </strong> <%= dr.dish.name %>&nbsp;<%= dr.quantity %>&times;&nbsp;&nbsp;<b>Rating:&nbsp</b><%= render :partial => 'shared/star_rating', :locals => {:rating => dr.rating} %>
      </br>
      
      </br>
      <% for pic in dr.pictures %>
        <%= image_tag pic.image_url(:thumb) if pic.image? %>
      <% end %>
      </br>
      <strong><%=I18n.t('visits.tagline_title')%>:</strong> <%= dr.tagline %>
      </br>
      <strong><%=I18n.t('visits.review_title')%>:</strong> <%= simple_format(dr.review).html_safe %>
    </div>  
    </br>
  <% end %>
  <br>
  <div class="action">
    <%= link_to I18n.t(@button), edit_parameters_visit_path(@visit) %>
  </div>
</div>



