<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %><%= link_to @store.name, store_path(:id => @store.zid)%></h1><br>

<div>
  </br>
  <strong>City:</strong> <%= @city.name %>
  </br>
  <strong>Store:</strong> <%= @store.name %>
  </br>
  <strong>Visit Date:</strong> <%= @visit.visit_date %>
  </br>
  </br>
  <span id="visit-ratings">
    <table>
      <tr>
        <th></th>
        <th>Overall</th>
        <th>Service Quality</th>
        <th>Service Speed</th>
        <th>Atmosphere</th>
      </tr>
      <tr>
        <td><b>Ratings</b></td>
        <td><%= render :partial => 'shared/star_rating', :locals => {:rating => @visit.overall_rating} %></td>
        <td><%= render :partial => 'shared/star_rating', :locals => {:rating => @visit.service_rating} %></td>
        <td><%= render :partial => 'shared/star_rating', :locals => {:rating => @visit.speed_rating} %></td>
        <td><%= render :partial => 'shared/star_rating', :locals => {:rating => @visit.mood_rating} %></td>
      </tr>
    </table>  
  </span>
  </br>
  <strong>Tagline:</strong> <%= @visit.tagline %>
  </br>
  <strong>Review:</strong> <%= @visit.review %>
  </br>
  <strong>Guest number:</strong> <%= @visit.guest_number %>
  <% @visit.dish_reviews.each do |dr| %>
    </br>
    <strong>Dish Name: </strong> <%= dr.dish.name %>&nbsp;<%= dr.quantity %>&times;
    </br>
    <% for pic in dr.pictures %>
      <%= image_tag pic.image_url(:thumb) if pic.image? %>
    <% end %>
  <% end %>
  <br>
  <div class="action">
    <%= link_to I18n.t(@button), edit_visit_path(:id => @visit.zid) %>
  </div>
</div>



