<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %><%= link_to @store.name, store_path(@store)%></h1><br>

<%= form_for(@dish, :url => submit_menu_store_path(@store)) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class=""> 
    <%= label_tag "Dish Entries:" %><br>
    <%= text_area_tag "entries", @existing_categories, :size => "120x20" %>
  </div>
  <div class="action">
    <%= f.submit I18n.t(@button) %>
  </div>
<% end %>

 