<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %><%= link_to @store.name, store_path(:id => @store.zid)%></h1><br>

<%= form_for(@store, :url => update_menu_order_path) do |f| %>
  <div class="action">
    <%= f.submit I18n.t(@button) %>
  </div><br>
  <div id="tabssortable">
    <ul>
      <% @dishes.keys.each_with_index do |k, c| %>
        <li><a href="#tabs_<%=@dishes[k].first.dish_type.id.to_s%>"><%= k %></a></li>
      <% end %>
    </ul>
    <% @dishes.keys.each_with_index do |k, c| %>
      <div id="tabs_<%=@dishes[k].first.dish_type.id.to_s%>">
        <ul id="sortable<%= c %>" class="connectedSortable ui-helper-reset">
          <% @dishes[k].each_with_index do |dish, c2| %>
            <li id="catf_<%=dish.id.to_s%>" class="ui-state-default"><%= dish.name %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <% @dishes.keys.each_with_index do |k, c| %>
    <%= hidden_field_tag "taborder_"+@dishes[k].first.dish_type.id.to_s %>
    <% @dishes[k].each_with_index do |dish, c2| %>
      <%= hidden_field_tag "dd_"+dish.id.to_s%>
    <% end %>
  <% end %>
  <br>
  <div class="action">
    <%= f.submit I18n.t(@button) %>
  </div>
<% end %>