<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<%= paginate @stores %>
<% for store in @stores %>
  <div class="store">
    <%= render 'store_fields', :store => store %>
    <div class="action">
      <%= link_to I18n.t(@button), new_visit_path(:id => Hid.enc(store.id))%>
      <%= link_to I18n.t(@button2), menu_path(store.menu)%>
    </div>    
  </div>    
<% end %>
<%= paginate @stores %>

