<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %></h1>

<%= form_for(@store) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <span>
    <%= label :city, :name, "City:" %>&nbsp;
    <%= text_field 'city', 'name' %>
    <%= hidden_field 'city', 'id' %>
  </span>  
  <span>
    <%= label :state, :name, "State:" %>&nbsp;
    <%= select :state, :id, State.find_all_by_country_id(@country.id).collect {|p| [ p.name, p.id ] } %>
  </span>
  <span>
    <%= label :country, :name, "Country:" %>&nbsp;
    <%= select :country, :id, Country.all.collect {|p| [ p.name, p.id ] } %>
  </span>
  <br/>
  <br/>
  <div class="field">
    <%= f.label :name, "Restaurant Name:" %>&nbsp;
    <%= f.text_field :name, :size =>50 %>
  </div>
  <div class="field">
    <%= f.label :address, "Address:" %>&nbsp;
    <%= f.text_field :address, :size =>100 %>
  </div>
  <div class="field">
    <%= label :store_type, :name, "Category 1:" %>&nbsp;
    <%= select :store_type, "Category1", StoreType.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= label :store_type, :name, "Category 2:" %>&nbsp;
    <%= select :store_type, "Category2", StoreType.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= label :store_type, :name, "Category 3:" %>&nbsp;
    <%= select :store_type, "Category3", StoreType.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true } %>
  </div>
  <div class="action">
    <%= f.submit I18n.t(@button), :class => "smallbutton" %>
  </div>
<% end %>
