<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<%= form_for(@store, :url => search_results_stores_path) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <span>
    <%= label :city, :name, "City:" %>&nbsp;
    <%= text_field_tag 'city_search_name', @city.name %>
    <%= hidden_field :city, :id %>
  </span>  
  <span>
    <%= label :state, :name, "State:" %>&nbsp;
    <%= select :state, :id, State.find_all_by_country_id(@country.id).collect {|p| [ p.name, p.id ] } %>
  </span>
  <span>
    <%= label :country, :name, "Country:" %>&nbsp;
    <%= select :country, :id, Country.all.collect {|p| [ p.name, p.id ] } %>
  </span>
  <br/>
  <br/>
  <div class="field">
    <%= label 'store_search_label', "Restaurant Name:" %>&nbsp;
    <%= text_field_tag 'store_search_name', '', :size =>50 %>
    <%= f.hidden_field :id %>&nbsp;
    <span class="action">  
      <%= f.submit I18n.t(@button) %>
    </span>  
  </div>
  <!-- do not remove following div used by jscript to show store -->
  <div id="display">
  </div>  
  <% for result in @res %>
    <table>
      <tr>
        <td><b>Name: </b></td>
        <td><%= result[:name] %></td>
      </tr>
      <tr>
        <td><b>Address: </b></td>
        <td><%= result[:address] %></td>
      </tr>
        <% if result[:category] %>
          <tr>
            <td><b>Categories: </b></td>
            <td><%= result[:category] %></td>
          </tr>  
        <% end %>
    </table>
    <%= link_to I18n.t(@button2), new_store_path(:result => result, :param => params)%>
    <br><br>
    <% end %>
<% end %>
