<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= I18n.t(@title, :store_name => @store.name) %></h1><br>

<div id="store">
  <strong>Name:</strong> <%= @store.name %>
  </br>
  <strong>City:</strong> <%= @store.city.name %>
  </br>
  <strong>Address:</strong> <%= @store.address %>
  <div class="">
    <strong>Categories:</strong>
    <% for rel in @store.store_type_relationships %>
      &nbsp;<%= rel.store_type.name %>
    <% end %>
  </div>
  <br>
  <div class="actions">
    <%= link_to I18n.t(@button), new_visit_path(:id => @store.id)%>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to I18n.t(@button2), add_menu_path(:id => @store.id)%>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to I18n.t(@button3), show_menu_path(:id => @store.id)%>
  </div>    
</div>
