<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= @store.name %></h1><br>

<div id="right-float-container">
  <%= render 'store_list' %>
  <div id="store">
    <b>Name:</b> <%= @store.name %>
    </br>
    <b>City:</b> <%= @store.city.name %>
    </br>
    <b>Address:</b> <%= @store.address %>
    <br>
    <%= hidden_field_tag "store_id", Hid.enc(@store.id) %>
    <div class="">
      <b>Categories:</b>
      <% for rel in @store.store_type_relationships %>
        &nbsp;<%= rel.store_type.name %>
      <% end %>
    </div>
    <% if @store.gid %> 
      <a href="http://maps.google.com/maps/place?cid=<%=@store.gid%>" target="blank">Google place page</a>
    <% end %>
    <br>
    <%= render 'show_actions' %>
  </div>
  <%= render 'store_visits' %>
</div>