<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %><%= @store.name %></h1><br>

<div id="store">
  <strong>Name:</strong> <%= @store.name %>
  </br>
  <strong>City:</strong> <%= @store.city.name %>
  </br>
  <strong>Address:</strong> <%= @store.address %>
  <div class="">
    <strong>Categories:</strong>
    <% for rel in @store.store_type_relationships %>
      &nbsp;<%= rel.store_type.name %>
    <% end %>
  </div>
  <br>
  <div class="action">
    <%= link_to I18n.t(@button), new_visit_path(:id => Hid.enc(@store.id))%>
    <%= link_to I18n.t(@button2), show_menu_store_path(@store)%>
  </div>    
</div>
