<div id="store">
  <div id="store-search-result">
    <a href="/stores/<%= Hid.enc(@store.id) %>">
      <div>
        <b>Name:</b> <%= @store.name %>
        </br>
        <b>City:</b> <%= @store.city.name %>
        </br>
        <b>Address:</b> <%= @store.address %>
        <br>
        <%= hidden_field_tag "store_id", Hid.enc(@store.id) %>
        <b>Categories:</b>
        <% for rel in @store.store_type_relationships %>
          &nbsp;<%= rel.store_type.name %>
        <% end %>
      </div>
    </a>
  </div>  
  <%= render 'show_actions' %>   
</div>
<%= render 'store_visits' %>
  