<% content_for :sidebar do %>
  <%= render 'shared/main_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %></h1>

<div id="store">
  </br>
  <strong>City:</strong> <%= @store.city.name %>
  </br>
  <strong>Store:</strong> <%= @store.name %>
  <div class="actions">
    <%= button_to I18n.t(@button), new_visit_path %>
  </div>  
</div>
