<!--
  <div class="field">
    <%= f.label :name, t(:user_name) %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, t(:user_email) %><br />
    <%= f.text_field :email %>
  </div>
-->
<div class="field">
  <%= f.label :locale, t(:user_locale) %><br />
  <%= select(:user_setting, :locale, User.localelist) %>
</div>