<%= render 'shared/main_sidebar' %>
<div id="content">
<%= render 'shared/flash_box' %>

<h1><%= I18n.t(@title) %></h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit I18n.t(@button) %>
  </div>
<% end %>
