<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= I18n.t("users.index_title") %></h1>

<%= paginate @users %>

<ul class="">
  <%= render @users %>
</ul>

<%= paginate @users %>
