<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= t("users.new_title") %></h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'fields' %>
  <div class="action">
    <%= f.submit t("users.new_button") %>
  </div>  
<% end %>
