<%= render 'shared/main_sidebar' %>
<div id="content">
<%= render 'shared/flash_box' %>

<table summary="Information about following/followers">
  <tr>
    <td class="">
      <h1><%= @title %></h1>
      
      <% if @users.any? %>
        <ul class="">
          <%= render @users %>
        </ul>  
        <%= will_paginate @users %>
      <% end %>
    </td>
    <td class="round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Visits</strong> <%= @user.visits.count %>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <% @users.each do |user| %>
          <%= link_to gravatar_for(user, :size => 30), user %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>