<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<table class="" summary="Profile information">
  <tr>
    <td class="">
      <h1>
        <% if @user.profilepicurl.nil? %>
          <%= gravatar_for @user %>
        <% else %>
          <%= image_tag(@user.profilepicurl, :size => "60x60", :alt => "", :class => "round")%> 
        <% end %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), Hid.enc(@user.id) %><br />
      <strong>Visits</strong> <%= @user.visits.count %>
    </td>
  </tr>
</table>

