<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= t('visits.visited_store_list_title')%></h1>
<p>
<div class="action">
  <%= link_to t('visits.show_visits_list_button'), visits_path%>
</div>
<p>  
<% if @visited_store_list.stores.size == 0 %>
  <%= t('visits.no_visits_yet_message') %>
<% else %>
  <div class="left">
    <%= form_for @vsl_report, :html => {:method => :get} do |f| %>
      <% @vsl_report.filters.each do |filter| %>
        <div class="filter">
          <%= f.datagrid_label filter %>
          <%= f.datagrid_filter filter %>
        </div>
        <div class="clear"></div>
      <% end -%>

      <div class="filter">
        <%= f.submit %>
      </div>
    <% end %>

    <div class='total'>Total: <%= @vsl_report.assets.count %></div>
    <%= datagrid_table(@vsl_report, @assets) %>
    <%= paginate @assets %>
  </div>
<% end %>


