<% content_for :sidebar do %>
  <%= render 'shared/main_sidebar' %>
<% end %>

<% if user_signed_in? %>
  <table class="" summary="For signed-in users">
    <tr>
      <td class="">
        <h1 class=""><%= t :home_whats_up %></h1>
        <%= render 'shared/visit_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% else %>
	<h1><%= t :restologger_appname %></h1>
	<p>
		<%= t :home_login_prompt %>
	</p>
	<a href="/auth/facebook" class="auth_provider">
		<%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
		Facebook
	</a>
<% end %>