<% if user_signed_in? %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="visit">What's up?</h1>
        <%= render 'shared/visit_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>

<% else %>

	<h1>RestoLogger</h1>
	<p>
		Please login through one of the providers below: (only facebook enabled for now...)
	</p>

	<a href="/auth/facebook" class="auth_provider">
		<%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
		Facebook
	</a>
<% end %>