<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %></h1><br>

<%= form_for(@dish, :url => submit_menu_path) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class=""> 
    <%= label_tag "Dish Entries:" %><br>
    <%= text_area_tag "entries", nil, :size => "120x20", :wrap => "off"   %>
  </div>
  <div class="action">
    <%= f.submit I18n.t(@button) %>
  </div>
<% end %>
