<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %></h1><br>

<%= form_for(@dish, :url => save_menu_path) do |f| %>
  <div class="action">
    <%= f.submit I18n.t(@button) %>
  </div>
  <table>
    <tr>
      <th>Category</th>
      <th>Dish Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Order Code</th>
    </tr>
    <% count = 0 %>
    <% for entry in @entries %>
      <tr>
        <td style="vertical-align:top"><%= text_field_tag "category"+count.to_s, entry[0], :size => 20 %></td>
        <td style="vertical-align:top"><%= text_field_tag "name"+count.to_s, entry[1]%></td>
        <td style="vertical-align:top"><%= text_field_tag "price"+count.to_s, entry[2], :size => 5 %></td>
        <td style="vertical-align:top"><%= text_field_tag "description"+count.to_s, entry[3], :size => 50 %></td>
        <td style="vertical-align:top"><%= text_field_tag "code"+count.to_s, entry[4], :size => 5 %></td>        
      </tr>
      <% count += 1 %>
    <% end %>
  </table>
  <%= hidden_field_tag 'storeid', @storeid %>
  <%= hidden_field_tag 'count', @entries.size %>
  <div class="action">
    <%= f.submit I18n.t(@button) %>
  </div>
<% end %>