<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= t('visits.visited_store_list_title')%></h1>
<p>
<div class="action">
  <%= link_to t('visits.show_visits_list_button'), visits_path%>
</div>
<p>  
<% if @visited_store_list.stores.size == 0 %>
  <%= t('visits.no_visits_yet_message') %>
<% else %>
  <div>
    <%= form_for @vsl_report, :html => {:method => :get} do |f| %>
      <table>
        <% @vsl_report.filters.each do |filter| %>
          <% if filter.name.to_s != 'visited_store_list_id' %>
            <tr>
              <td><%= f.datagrid_label filter %></td>
              <td><%= f.datagrid_filter filter %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <div class="action">
        <%= f.submit t("filter_list_button") %>
      </div>
    <% end %>

    <div class='total'>Total: <%= @vsl_report.assets.count %></div>
    <%= datagrid_table(@vsl_report, @assets) %>
    <%= paginate @assets %>
  </div>
<% end %>


