<%= render 'shared/main_sidebar' %>
<div id="content">
<%= render 'shared/flash_box' %>

<h1><%= @title %></h1>
  <div class="picture">
    <%= image_tag @picture.image_url(:thumb) if @picture.image? %>
    <div class="genre"><%= @picture.genre %></div>
    <div class="actions">
      <%= link_to "edit", edit_picture_path(@picture) %> |
      <%= link_to "remove", @picture, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
<p>
  <%= link_to "Add a Picture", new_picture_path() %> |
</p>
