<header>
  <%= link_to logo, root_path %>
  <nav class="round horizontalmenu">
    <ul>
      <li class="horizontalmenu"><%= link_to "Home", root_path %></li>
      <% if user_signed_in? %>
        <li class="horizontalmenu"><%= link_to "Profile", current_user %></li>
        <li class="horizontalmenu"><%= link_to "Users", users_path %></li>
        <li class="horizontalmenu"><%= link_to "Settings", edit_user_path(current_user) %></li>
      <% end %>
      <li class="horizontalmenu"><%= link_to "Help", help_path %></li>
      <% if user_signed_in? %>
        <li class="horizontalmenu"><%= link_to "Sign out", destroy_user_session_path, :method=> 'delete' %></li>
      <% else %>
      <% end %>
    </ul>
  </nav>
</header>