  <div id="sidebar">
    <ul>
      <li>
        <% if user_signed_in? %>
          <ul>
            <li class="sidebar-highlight"><%= link_to "My Visits", visits_path %></li>
            <li><%= link_to "My Favourite Places", "#" %></li>
            <li><%= link_to "My Favourite Dishes", "#" %></li>
            <li><%= link_to "My Dish Reviews", "#" %></li>
            <li><%= link_to "My Network", "#" %></li>
            <li><%= link_to "My Statistics", "#" %></li>
            <br/>
            <li><%= link_to "Find a Store", search_store_path %></li>
            <li><%= link_to "List all Stores", stores_path %></li>
          </ul>
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %>
          <h2>
            Messages
          </h2>
          <ul>
            <li><a href="#">Albert started following you</a></li>
            <li><a href="#">Frank posted a great review</a></li>
            <li><a href="#">John edited information you posted</a></li>
          </ul>
        <% end %>
      </li>
    </ul>
  </div>









