  <div id="sidebar">
    <ul>
      <li>
        <% if @cart_items %>
          <h2>Your Cart</h2>
          <ul>
            <li><%= render({ :partial => "cart_item", :collection => @cart_items }) %></li>
            <li>Total: <%= number_to_currency(30) %></li>
          </ul>
        <% end %>
        <% if user_signed_in? %>
          <ul>
            <li><%= link_to "My Visits", visits_path %></li>
            <li><%= link_to "My Favourite Places", "#" %></li>
            <li><%= link_to "My Favourite Dishes", "#" %></li>
            <li><%= link_to "My Dish Reviews", "#" %></li>
            <li><%= link_to "My Network", "#" %></li>
            <li><%= link_to "My Statistics", "#" %></li>
            <br/>
            <li><%= link_to "Find a Store", search_store_path %></li>
            <li><%= link_to "List all Stores", stores_path %></li>
          </ul>
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %>
          <h2>
            Messages
          </h2>
          <ul>
            <li>Albert started following you</li>
            <li>Frank posted a great review</li>
            <li>John edited information you posted</li>
          </ul>
        <% end %>
      </li>
    </ul>
  </div>









