  <div id="sidebar">
    <ul>
      <li>
        <% if user_signed_in? %>
          <h3>
            <% if current_user.profilepicurl.nil? %>
              <%= gravatar_image_tag(current_user.email, :gravatar => { :size => 35 }, :alt => "", :class => "round vertical_align")%>
            <% else %>
              <%= image_tag(current_user.profilepicurl, :size => "60x60", :alt => "", :class => "round vertical_align")%>
            <% end %>
            &nbsp;<%= current_user.name %>
          </h3>
          <p>
          <ul>
            <li class="<% if current_page?(visits_path) %>sb-hl<%end%>"><%= link_to "My Visits", visits_path %></li>
            <li class="<% if false %>sb-hl<%end%>"><%= link_to "My Favourite Places", "#" %></li>
            <li class="<% if false %>sb-hl<%end%>"><%= link_to "My Favourite Dishes", "#" %></li>
            <li class="<% if false %>sb-hl<%end%>"><%= link_to "My Dish Reviews", "#" %></li>
            <li class="<% if false %>sb-hl<%end%>"><%= link_to "My Network", "#" %></li>
            <li class="<% if false %>sb-hl<%end%>"><%= link_to "My Statistics", "#" %></li>
            <br/>
            <li class="<% if current_page?(search_store_path) %>sb-hl<%end%>"><%= link_to "Find a Store", search_stores_path %></li>
            <li class="<% if current_page?(stores_path) %>sb-hl<%end%>"><%= link_to "List all Stores", stores_path %></li>
          </ul>
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %>
          <h2>
            Messages
          </h2>
          <ul>
            <li><a href="#">Albert started following you</a></li>
            <li><a href="#">Frank posted a great review</a></li>
            <li><a href="#">John edited information you posted</a></li>
          </ul>
        <% end %>
      </li>
    </ul>
  </div>









